:root {
  --color-primary-100: hsl(140, 100%, 95%);
  --color-primary-200: hsl(140, 100%, 85%);
  --color-primary-300: hsl(140, 100%, 80%);
  --color-primary-400: hsl(140, 100%, 75%);
  --color-primary-500: hsl(140, 100%, 60%);
  --color-primary-600: hsl(80, 68%, 50%);
  --color-primary-700: hsl(140, 100%, 40%);
  --color-primary-800: hsl(140, 100%, 30%);
  --color-primary-900: hsl(140, 100%, 20%);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
